#tv
    include applist
    #footer
        #ntv_notification This is a notification!
        h1#logo NodeTV
        #ntv_version Version #{version}
    #loader Loading...
include remote
include sounds