doctype 5
html(lang='en-US')
	head
		title #{netIp}
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		link(rel='apple-touch-icon', href='/assets/images/remote_icon.png')
		link(rel='apple-touch-icon-precomposed', href='/assets/images/remote_icon.png')
		link(rel='stylesheet', type='text/css', href='/styles/fonts.css')
		link(rel='stylesheet', type='text/css', href='/styles/main.css')
		link(rel='stylesheet', type='text/css', href='/styles/remote.css')
		link(rel='stylesheet', type='text/css', href='/styles/diskselect.css')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/scripts/lib/jquery.1.8.0.js')
		script(type='text/javascript', src='/scripts/lib/blueprint.1.5.3.js')
		script(type='text/javascript', src='/scripts/lib/neckbeard.0.5.0.js')
		script(type='text/javascript', src='/scripts/lib/tappa.2.0.js')
		script(type='text/javascript', src='/scripts/loader.js')
	body!= body