div#remote
  div.navigationcontrols
  	button.select Select
  	button.up Up
  	button.down Down
  	button.left Left
  	button.right Right
	div.systemcontrols
  	button.menu Menu
  	button.back Back
  div.playercontrols
  	button.play Play
  	button.stop Stop
  	button.trackLeft Track Left
  	button.trackRight Track Right