div#remote
	button.menu Menu
	button.back Back
	div.navigationcontrols
		button.up Up
		br
		button.left Left
		button.select Select
		button.right Right
		br
		button.down Down
	div.playercontrols
		div.rem_wrapper
			button.trackLeft Track Left
			//	
				button.stop Stop
			button.play Play
			button.trackRight Track Right