div#remote
	button.select Select
	button.up Up
	button.down Down
	button.left Left
	button.right Right
	button.menu Menu
	button.back Back
	button.play Play
	button.stop Stop
	button.trackLeft Track Left
	button.trackRight Track Right