div#remote
	div.logo NodeTV
	div.navigationcontrols
		button.up Up
		br
		button.left Left
		button.select Select
		button.right Right
		br
		button.down Down
	div#touchpad
	div.playercontrols
		div.rem_wrapper
			button.back Back
			button.trackLeft Track Left
			button.play Play
			button.trackRight Track Right
			button.menu Menu		