div#ntv_diskselect
	div.window
		div.selectDrive
			p.info
				| Welcome to NodeTV. To index your media library, first select one of the detected disk drives.
			ul#detectedDrives.listView
			p.hint
				| Swipe vertically to scroll. 
				| Tap the touchpad to select. 
				| Tap the play button to confirm.
		div.selectDirectory
			p.info
				| Select the directory you would like to scan. You can change this at any time via the Settings application.
			ul#detectedDirectories.listView
			p.hint
				| Swipe vertically to scroll.
				| Tap the touchpad to open a directory.
				| Tap the play button to use the current directory.