<!-- 
	Generated application icon for NodeTV home screen
-->

<li class="ntv_app" data-appid="#{id}">
	<div class="ntv_appicon">
		<img src="#{icon}" width="" height="" alt="#{name}" />
	</div>
	<h3 class="ntv_apptitle">#{name}</h3>
</li>