/*
 * NodeTV - styles/applist.css
 * Author: Gordon Hall
 */

#ntv_applistwrapper {
	overflow: hidden;
}

#ntv_applist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#ntv_applist li {
	float: left;
	padding: 12px 2.5%;
	margin: 32px 2.5%;
	width: 15%;
}

#ntv_applist li.has_focus {
	background-color: rgba(0,0,0,0.3);
	border-radius: 6px;
}

.ntv_appicon {
	float: left;
}

.ntv_apptitle {
	padding-left: 80px;
	margin: 17px 0;
	font-size: 24px;
	text-shadow: 2px 2px 5px #000;
}
