/*
 * NodeTV - styles/main.css
 * Author: Gordon Hall
 */

/* Default body style
*/
body {
	background: url('/assets/images/bg.jpg') top left repeat rgb(136,218,88);
	cursor: none;
	color: #fff;
	font-family: Comfortaa, Helvetica, sans-serif;
}

/* Phone/Remote Query
*/
@media only screen and (max-device-width: 480px) {
	#tv {
		display: none;
	}
	
	#remote {
		display: block;
	}
	
	body {
		background: #000;
		cursor: none;
	}
}

/* Tablet/Remote Query
*/
@media only screen and (max-device-width: 1024px) {
	#tv {
		display: none;
	}
	
	#remote {
		display: block;
	}
	
	body {
		background: #000;
		cursor: none;
		color: #fff;
		font-family: Comfortaa, Helvetica, sans-serif;
	}
}

/* TV/Desktop Query
*/
@media only screen and (min-width: 1024px) {
	#remote {
		display: none;
	}
	
	#tv {
		display: block;
	}
}

/* Base Styles
*/
#tv {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

h1 {
	font-family: Cubic, Helvetica, sans-serif;
	font-size: 78px;
	color: #fff;
	text-shadow: 3px 6px 15px #000;
	text-align: center;
	margin: 32px 0;
	background: rgba(255,255,255,0.1);
	padding: 0 32px;
}

#footer {
	background: rgba(0,0,0,0.5);
	border-top: 1px solid #000;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;
}

#loader {
	background: url('/assets/images/ntv_loader.gif') 24px center no-repeat rgba(0,0,0,0.7);
	background-size: 65px 65px;
	font-size: 32px;
	width: 186px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -153px;
	padding: 34px 0 34px 120px;
	border: 2px solid #000;
}

#ntv_version {
	float: right;
	margin: 12px;
}

#ntv_notification {
	display: none;
	float: left;
	margin: 4px 12px;
	background: url('/assets/images/icons/48/65.png') left center no-repeat;
	background-size: 26px 26px;
	padding: 8px 8px 8px 38px;
}

#ntv_notification.ntv_error {
	background: url('/assets/images/icons/48/25.png') left center no-repeat;
	background-size: 26px 26px;
}
